.spot-details{
    box-sizing: border-box;
    width: 100vw;
}
.spot-details-container{
    margin: 0px 15%;
}

.spot-info-wrapper {
    margin: 0px auto;
    /* padding: 0px 80px; */
}

.spot-sub-info,
.spot-sub-info img {
    display: inline;
    height: 14px;
    width: 14px;
    font-weight: bold;
    padding-top: 15px;
    font-size: 14px;
}

.spot-sub-info span{
    text-decoration: underline;
}
.spot-name {
    padding-top: 24px;
}

h1 {
    margin: 0px;

}
