.become-host-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 240px;
  height: 48px;

}
.become-host-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border-radius: 22px;
  width: 10.5rem;
  font-size: 1em;
  letter-spacing: -0.4;
  cursor: pointer;

}

.become-host-button:hover {
  background-color: #f5f5f5;
}

.language{
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.language > img {
  height: 18px;
}
