.spots {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1.5rem;


  margin: 1rem auto;
  width: 90%;
}
/*
@media screen and (max-width: 400px) {
  .spots {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(autofill, 1fr);

    grid-gap: 1.5rem;



    margin: 1rem auto;
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .spots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(autofill, 1fr);

    grid-gap: 1.5rem;



    margin: 1rem auto;
    width: 90%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .spots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofill, 1fr);

    grid-gap: 1.5rem;



    margin: 1rem auto;
    width: 90%;
  }
}

@media screen and (min-width: 1025px) {
  .spots {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(autofill, 1fr);

    grid-gap: 1.5rem;



    margin: 1rem auto;
    width: 90%;
  }
} */
.spots-container {
  display: flex;
  flex-direction: column;
  flex-grow: wrap;
  /* align-items: center;
  justify-content: center; */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.spot-img {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.spot-img > img {
  display: block;
  width: 100%;
  height: 100%;
  /* background-position: center; */
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spots-info {
  width: 100%;
}
.spots-address {
  display: flex;
  justify-content: space-between;
}
.spots-stars {
  font-weight: light;
}
.star > img {
  height: 0.8em;
  padding-right: 0.3em;
}
.spots-address,
.spots-price span {
  font-weight: 600;
  font-size: 1em;
}

.loading {
  display: flex;
  justify-content: center;
}
