/* TODO Add site wide styles */
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
    color: #222222;
    overflow-x: hidden;
}
