/* TODO Add site wide styles */
html {
    width: 100%;
    /* overflow-x: hidden; */
    /* overflow: overlay; */
}
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-stretch: expanded;
    letter-spacing: -0.2;
    width: 100%;
    color: #222222;
    box-sizing: border-box;
    position: relative;
}

*{
    margin:0;
    padding: 0;
  }
