/* TODO Add site wide styles */
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-stretch: expanded;
    width: 100%;
    color: #222222;
}
