:root {
  --x: 60%;
}
.delete-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 500px;
  background-color:#fefefe;
  border-radius: 15px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: #fefefe;
  border-bottom: solid rgb(235, 235, 235) 2px;
  border-radius: 15px 15px 0px 0px;
}

.title-text {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
}

.delete-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.confirmation-message {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  width: 100%;
  height: 100%;

}

#yes-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 25%;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #df1660;
  border-radius: 22px;
  color: white;
  background: linear-gradient(
    90deg,
    #BD1E59 0%,
    #f85390 var(--x),
    #BD1E59 100%
  );
  cursor: pointer;
}
#no-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 25%;
  padding: 5px;
  /* background-color: #DF1660; */
  border-radius: 22px;
  color: white;
  background: linear-gradient(
    90deg,
    #BD1E59 0%,
    #f85390 var(--x),
    #BD1E59 100%
  );
  cursor: pointer;
}
.no-button:focus {
  outline: none;
}
/*
.yes-button:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:25%;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #ff2f7c;
    border-radius: 22px;
    color: white;
}
.no-button:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height:25%;
    padding: 5px;
    background-color: #ff2f7c;
    border-radius: 22px;
    color: white;
} */
