.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  border-bottom: solid rgb(235, 235, 235) 1px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}
.nav-container-spot-details {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0px 15%;
}
#logo-nav {
  text-decoration: none;
}

.profile-dropdown-container {
  position: absolute;
  height: 280px;
  width: 280px;
  right: 0px;
  top: 8vh;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 13px 0px rgb(211, 210, 210);
  z-index: 10;
  overflow-x: hidden;
  letter-spacing: -1;
  /* overflow-y: auto; */
}

.profile-dropdown-container-spot-details {
  position: absolute;
  height: 55vh;
  width: 280px;
  right: 15vw;
  top: 50px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 13px 0px rgb(211, 210, 210);
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
}

.profile-dropdown {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  height: 100%;

  z-index: 100;
}

#login-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 20px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0;
}

#signup-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: light;
  cursor: pointer;
  color: rgb(88, 88, 88);
  border-bottom: solid rgb(235, 235, 235) 1px;
}

#login-button:hover {
  background-color: #f5f5f5;
}

#signup-button:hover {
  background-color: #f5f5f5;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 21vw;
}

.other-button,
#logout-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: light;
  cursor: pointer;
  color: rgb(88, 88, 88);
}

.other-button:hover,
#logout-button:hover {
  background-color: #f5f5f5;
}

.user-info,
.user-info-top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-weight: light;

  color: rgb(88, 88, 88);
}

.user-info-top {
  margin-top: 10px;
}

#logout-button {
  font-weight: 600;
  border-bottom: solid rgb(235, 235, 235) 1px;
}

.coming-soon {
  display: flex;
  width: 100%;
  height: 1vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vw;
}
.coming-soon-title {
  font-size: 2vw;
}

#home-page-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 2vw;
  color: #ff385c;
  cursor: pointer;
}

#home-page-link:hover {
  color: blue;
}

.search-bar-wrapper {
  width: 20vw;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin-left: 1%;
}
.search-bar-spot-details{
    width: 10vw;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-left: 1%;
}
/* .search-bar { */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 100px); */
  /* grid-template-areas: "a b c c"; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* overflow: hidden;
  height: 48px;
  width: 38vw;
  border-radius: 22px;
  border: solid #f5f5f5 1px;
  box-shadow: 0px 1px 13px 0px rgb(211, 210, 210);
  position: relative;
} */
input[name="anywhere"],
input[name="anywhere"]:focus{

  border-left: none;
  height: 100%;
  width: 20vw;
  border: none;
  overflow: auto;

  border-radius: 22px;
  border: solid #f5f5f5 1px;
  box-shadow: 0px 1px 13px 0px rgb(211, 210, 210);
  /* position: relative; */
}

.search{
    position: relative;

}
.search-button {
    right: 1%;
    bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #ff385c;
  position: absolute;
  margin-right: 10px;
  cursor: pointer;
}

.search-button > img {
  position: absolute;
  height: 12px;
  width: 12px;
  fill: white;

}


@media (max-width: 1200px) {
    .search-bar-wrapper {
        width: 20vw;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        margin-left: 1%;

      }
      .search-bar-spot-details{
          width: 20vw;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 100;
          margin-left: 1%;
      }
      .become-host-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 240px;
        height: 48px;
        visibility: hidden;
      }
}

@media (max-width: 800px) {
    .search-bar-wrapper {
        width: 20vw;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        margin-left: 1%;
        visibility: hidden;
      }
      .search-bar-spot-details{
          width: 20vw;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 100;
          margin-left: 1%;
          visibility: hidden;
      }
      .become-host-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 240px;
        height: 48px;
        visibility: visible;
      }
}


@media (max-width: 550px) {
    .search-bar-wrapper {
        width: 20vw;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        margin-left: 1%;
        visibility: hidden;
      }
      .search-bar-spot-details{
          width: 20vw;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 100;
          margin-left: 1%;
          visibility: hidden;
      }
      .become-host-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 240px;
        height: 48px;
        visibility: hidden;
      }
}
